<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin untuk mengakses internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Untuk menampilkan notifikasi (WAJIB untuk Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Untuk menjadwalkan alarm yang presisi (PENTING untuk adzan) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- Untuk menggunakan alarm presisi yang sudah dijadwalkan (Otomatis diberikan jika SCHEDULE_EXACT_ALARM ada di API 33+) -->
    <!-- Tetap baik untuk dideklarasikan -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <!-- Untuk menjalankan alarm setelah perangkat reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppParkMasjid"
        tools:targetApi="31">
        <!-- Tambahkan receiver untuk alarm -->
        <receiver
            android:name=".user.util.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".admin.AdminLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="false" /> <!-- Kode Aktifitas Slash Screen -->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Kode Aktifitas HomePage -->
        <activity
            android:name=".user.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
